#header {
    display: flex;
    justify-content: flex-start;
}

.navitems {
   display: inline;
   text-decoration: none;
   padding: 20px;
}

.navitems a {
    text-decoration: none;
}

.navitems a:link {
    color: lightblue;
} 
.navitems a:visited {
    color: lightblue;
}

.home-banner { 
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(meadow-gdbf7c890d_1920.jpg);
    background-size: cover;
    height: 100px;
    
}

.home-banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}


.home-banner h1 {
    position: relative;
    color: #c5c5c5;  
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
  }

img {
    width: 100%;
    border: 5px solid white;
    border-radius: 20px;
}

footer{
    height: 5rem;
    background-color: #c5c5c5;
    display: flex;
    align-items: center;
    width: 100%;
}

q {
    font-style: italic;
}

/* media querys  */

@media screen and (min-width: 600px) {
    #homepage-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    #mowerimg {
        grid-column: 1/3;
    }
    #birdimg {
        grid-column: 1/3;
    }
    .home-banner h1 {
        font-size: 5rem;
    }
    .home-banner {
        height: 200px;
    }
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.3rem;
    }
    li {
        font-size: 1.5rem;
    }
    footer {
        height: 10rem;
    }
    #about-us-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #favorite-projects {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    #favorite-header{
        grid-column: 1/-1;
    }
}

@media screen and (min-width: 1200px) {
    body {
        margin: auto 50px;
    }

    #homepage-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
    }
    #mowerimg {
        grid-column: 1/3;
    }
    #birdimg {
        grid-row: 1/-1;
        grid-column: 3/5;
    }
    #roseimg {
        grid-column: 1/2;
    }
    #gardenerimg {
        grid-column: 2/3;
    }
    #services-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}