body {
  margin: 0;
  background-color: #F6FBF4;
}
#root {
  text-align: center;
  background-color: #F6FBF4;
  color: #F6FBF4;
  border-radius: 10px;
}
h1 {
  font-size: 3rem;
  font-weight: 1000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: #5FD068;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 40px;
}

.form--input {
  padding: 10px;
  margin: 10px;
  background-color: #5FD068;
  font-size: 1.4rem;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}


.form--button {
  grid-column: 1/-1;
  padding: 10px;
  margin: 10px;
  background-color: #5FD068;
  color: #F6FBF4F4;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 1000px;
  border-radius: 10px;
  margin-top: 20px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 32px;
  color: white;
  text-shadow: 0 0 3px #000, 0 0 5px #000; 
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.save--button {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #5FD068;
  color: #f6fbf4;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px; 
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.saved-meme {
  position: relative;
  margin-bottom: 20px; 
}

.top--text {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 32px;
  color: #F6FBF4;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.bottom--text {
  position: absolute;
  bottom: 80px; 
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 32px;
  color: #F6FBF4;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.memes--list {
  margin-top: 20px;
  border-top: #000 solid 3px;
}


.delete--button {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #5FD068;
  color: #f6fbf4;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px; 
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

