body {
  margin: 0px;
}

#root {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:black;
}

main {
  position:fixed;
  padding:50px;
  margin:0;

  left:0;

  width: 100%;
  height: 100%;
  
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

nav > h2 {
  margin: 0;
}

.light-theme-main {
  background-color: #cfcfcf;
}

.light-theme-footer {
  background-color: lightblue;
}

.light-theme-nav {
  background-color: lightblue;
}


.dark-theme-main {
  background-color: #3a3b3c;
  color: #fff; 
}

.dark-theme-nav {
  background-color: black;
  color: lightgreen;
}

.dark-theme-footer {
  background-color: black;
  color: lightgreen;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}