@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);


html, body {
    padding: 0;
    margin: 0;
  }
header {
    height: 150px;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url(huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(contours.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}
h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
    background: url(enso.svg);
    background-size: 100%;
   
  }
h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    color: rgba(255,255,255,0.6);
    font-size: 1.3em;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
#section2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px 0px;
}
#view-all-designs {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    grid-column: 2 / 10;
    font-size: 1em;
}
#view-all-designs p {
    color: rgba(255, 255, 255, 0.7);
}
#right-arrow {
    background-color:rgba(255, 255, 255, 0.3);
}

#right-chevron{
    height: 50px;
}
#left-arrow{
    background-color:rgba(255, 255, 255, 0.3);
    padding: 10pxpx;
    
}
p {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: .8em;
    color: #325050;
}

.paragraph {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 200%;
}

main{
    margin-top: 30px;
}

#section3, #section4 {
    margin-top: 30px;
}

.bamboo-background {
    background-image: url(bamboo.png);
    background-color: rgba(138,188,159,0.5);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;

}

#section6 {
    height: 3em;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url(huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(contours.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
    
}
#section6 p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .8em;
    font-style: italic;
}

#section6 a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
}
.section6-styling {
    margin-left: 6em;
    margin-right: 6em;
}

footer {
    padding: 2em;
    background: #134347;
    text-align: center;
}

#section8 {
    background: #edf4f0;
    margin-top: 0px;
 

}

.design-example-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.design-example {
    padding: 10px;
    border-top: solid 1px #d9e3dc;
}

#section9 {
    background-image: url(bamboo.png);
    width: 100%;
    background-color: rgba(138,188,159,0.5);
}

.resource-container {    
    
    padding-bottom: 20px;

    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resource-links {
    padding: 10px;
    border-top: solid 1px #a0b9ad;
}

@media screen and (min-width: 600px) {
    #section6 p {
        font-size: 1em;
    }
}

 @media screen and (min-width: 1000px) {
    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(18);
    }
    header {
        grid-column: 1/-1;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #section1 {
        grid-column: 1/3;
    }
    #section2 {
        grid-column: 3/-1;
        height: 40px;
        /* display: flex; */
    }
    #section3 {
        grid-column: 1/3;
        grid-row: 3/8;
    }

    #section8 {
        grid-column: 3/-1;
        grid-row: 3/8;
        
    }

    .design-example-container {
        display: block;
    }

    .design-example {
        padding: 10px 50px;
        border-top: solid 1px #d9e3dc;
    }


    #section4 {
        grid-column: 1/3;
        grid-row: 8/12;
        margin-top: 0px;
    }
    #section9 {
        grid-column: 3/-1;
        grid-row: 8/12;
    }

    .resource-container {    
        display: block;
    }
    
    .resource-links {
        padding: 10px 50px;
    }
    #section5 {
        grid-column: 1/3;
        grid-row: 12/16;
    }
    #section10 {
        grid-column: 3/-1;
        grid-row: 12/16;
        background: #edf4f0;
    }

    #section6 {
        grid-column: 1/-1;
        grid-row: 16/18;
    }
    #section7 {
        grid-column: 1/-1;
        grid-row: 18/19;
    }

  } 



