body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.card {
    width: 175px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
    margin: 20px;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

header {
    background-image: url('https://www.notion.so/image/https%3A%2F%2Fcoursework.vschool.io%2Fcontent%2Fimages%2Fsize%2Fw2000%2F2017%2F10%2Fcancun_banner1.jpg?table=block&id=96932c0c-0f7d-43ca-94f3-330fd3e7a58a&spaceId=6aef2f33-de49-4357-824c-927199bca931&width=2000&userId=a6747050-2a98-48fe-a59f-27edae6413d5&cache=v2');
    text-align: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
header > h1 {
    padding: 100px;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
}