body {
  margin: 0;
  padding: 0px 10%
}

.nav--bar >  {
  color: black;
}

.nav--elements {
  text-decoration: none;
  padding: 0px 20px;
  font-size: 1.5em;
}

.nav--elements:active {
  color: gray;
}

.nav--elements:visited {
  color: black;
}

.nav--elements:hover {
  color: blue;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: 800;
  text-align: center;
  background-image: url("./assets/leaky-faucet.webp");
  padding: 50px 0px;
}

.footer-street-address {
  display: flex;
  justify-content: space-around;
}

.customer-reviews {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.review {
  flex: 0 0 48%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}