html {
  background-color: #191627;
  font-family: sans-serif;
}
body {
  margin-top: 100px;
}

h1 {
  color: rgb(22, 5, 61);
}

.container {
  padding: 20px;
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  background-color: #5C5190;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(253, 226, 243);
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #AAA4CC;
  padding: 5px;
  margin: 3px;
  margin-right: 5px;
  width: 95%;
  height: 2em;
  
}
.inline {
  display: inline;
}

button {
  border-radius: 5px;
  background-color: #191627;
  color: white;
  width: 96.5%;
  height: 36.6px;
  padding: 5px;
  margin: 3px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #AAA4CC;
}

button:active {
  background-color: #292541;
}

/* .block {
  display: block;
} */
  
.close:hover {
    background-color: #f44336;
    color: white;
  }

.completedTodo {
  text-decoration: line-through;
}

.displayNone {
  display: none;
}
img {
  width: 100px;
  border: 2px solid black;
}