body {
  margin: 0;
  background-color: #eee7e1;
  color: #282800;
}
.intro-container {
  padding: 0 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

}

.intro-links {
  font-size: 7em;
  font-family: 'Splash', cursive;
}

.intro-description {
  font-family: 'Tsukimi Rounded', sans-serif;
  margin-top: 10em;
  max-width: 400px;
}
.side-text {
  font-family: 'Tsukimi Rounded', sans-serif;
  position: absolute;
  top: 75%; /* Adjust the top position to center vertically */
  left: 0; /* Adjust the left position as needed */
  transform-origin: top left; /* Change transform-origin */
  transform: translate(0, -50%) rotate(-90deg); /* Use translate to adjust vertical position */
  font-size: 12px;
  letter-spacing: 5px;
}
 
.countries {
  padding-left: 200px;
}
