body {
    width: 100%;
    text-align: center;
    background-color: beige;
}

h1 {
    color: darkblue;
}

h2 {
    color: white;
}

.addition {
    background-color: green;
    min-height: 100px;
    width: 400px;
    margin: auto;
}

.subtraction {
    background-color: red;
    min-height: 100px;
    width: 400px;
    margin: auto;
}

.multiplication {
    background-color: blue;
    min-height: 100px;
    width: 400px;
    margin: auto;
}

li {
    color: white;
}