body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.submit--form {
  background-color: rgb(20, 121, 116);
  padding: 20px;
  text-align: center;
}

.submit--form--inputs {
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: auto;
  width: 50%;
}

.submit--form--inputs > input {
  width: 100%; 
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px; 
}

.submit--form > button {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin-top: 10px; 
}

.things--list {
  text-align: center;
}

h3 {
  font-size: 25px;
}

